/* TUDO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SELEÇÃO DE TEXTO */
::selection {
    background: #8DAA3F;
    color: #fff;
}

body {
    background: #f2f2f2;
    font-family: 'Epilogue', Arial, sans-serif;
}

/* NAVBAR */
.header {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.nav {
    width: 92%;
    max-width: 1200px;
    background: #ffffff;
    border-radius: 50px;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #8DAA3F;
    font-weight: bold;
    font-size: 22px;
    line-height: 1;
}

.logo span {
    position: relative;
    top: 2px;
}

h1, h2, .logo {
    font-family: 'Epilogue', sans-serif;
    font-weight: 900;
}

.logo img {
    width: 60px;
}

/* MENU */
.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 10%;
    margin-left: 40px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 17px;
    transition: 0.3s;
    position: relative;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: #8DAA3F;
    transition: 0.3s ease;
}

.menu a:hover {
    color: #8DAA3F;
}

.menu a:hover::after {
    width: 100%;
}

/* HERO */
.hero {
    width: 92%;
    max-width: 1200px;
    height: 400px;
    margin: 40px auto;
    border-radius: 25px;
    background: linear-gradient(rgba(60, 110, 20, 0.425), rgba(60, 110, 20, 0.24)), url("../assets/images/Unip-eden-verde.PNG");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero-content {
    color: white;
    padding: 50px;
}

.hero-logo {
    margin-bottom: 3%;
}

.hero h1 {
    font-size: 56px;
    margin-bottom: 15px;
}

.hero p {
    max-width: 500px;
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 1.5;
}

.hero button {
    background: #8DAA3F;
    border: none;
    padding: 16px 32px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    transform: scale(1.05);
    background: #7c9636;
}

/* CARDS */
.cards {
    width: 92%;
    height: 200px;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    gap: 25px;
}

.card {
    flex: 1;
    background: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
    transition: all 0.35s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 0%;
    background: #8DAA3F;
    transition: 0.4s;
}

.card:hover::before {
    width: 100%;
}

/* TÍTULO */
.card h2 {
    margin-top: 32px;
    color: #8DAA3F;
    margin-bottom: 15px;
    font-size: 24px;
}

.card p {
    margin-top: 40px;
    color: #444;
    font-size: 20px;
    line-height: 1.4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ÍCONE */
.card-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    color: #8DAA3F;
}

.card-icon svg {
    width: 30px;
    height: 30px;
    stroke-width: 2.8;
}

/* CORES POR CARD */
.card:nth-child(2) .card-icon {
    color: #e53935;
}

.card:nth-child(3) .card-icon {
    color: #1e88e5;
}

/* FOOTER */
footer {
    text-align: center;
    margin: 50px 0;
    color: #666;
}

footer p {
    margin-top: 6.5%;
}